/* Extra small devices (phones, 600px and down) */
.icon {

    z-index: 2;
    height: 20px;
    width: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(128, 0, 6);
    padding: 15px;
    cursor: pointer;

    &:hover {
        background-color: rgb(255, 0, 13);
        transition: 0.5s;
    }
}

.nav-bar {

    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    position: absolute;
    z-index: 1;

    &.opened {        
        left: 0;
        transition: 1s ease-in-out;
    }

    &.closed {
        left: -50%;
        transition: 1s ease-in-out;
    }

    &__item {
        
        text-transform: uppercase;
        position: relative;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &:not(.active)::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0;
            bottom: 0;
            transform: scale(0, 1)
        }

        &:not(.active):hover::after {
            transform: scale(1, 1);
            transition: 0.5s;
        }

        &.active {
            font-weight: bold;
            cursor: default;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .icon {
        display: none;
    }

    .nav-bar {

        flex-direction: row;
        height: 70px;
        width: 100%;
        box-shadow: 1px 1px 10px grey;
        position: sticky;
        top: 0;

        &__item {
            &:not(:last-child) {
                margin-right: 40px;
                margin-bottom: 0;
            }
        }
    }
}